body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.lineup-container {
  background-image: url("/images/pitch-bg.png");
  background-repeat: repeat;
  min-height: 500px;
  padding: 30px; }

.player img {
  max-height: 60px; }

.player {
  margin: 30px; }

.player p.name {
  margin-top: 0; }

.player-row {
  display: flex;
  justify-content: center; }

span.position {
  display: none; }

@media (max-width: 475px) {
  .player {
    margin: 10px; } }

@media (max-width: 320px) {
  .player-row {
    display: block; }
  .player {
    display: block;
    margin-bottom: 20px; }
  span.position {
    display: inline-block; } }
